.speech{
    font-family: Arial;
    font-size:15px;
    color:black;
}
.stage-direction{
    font-family: Arial;
    font-size:15px;
    color:black;
    background-color: aqua;
}
.name{
    font-family: Arial;
    font-size:20px;
    color:black;
}
.stage-direction:hover{
    background-color: blue;
    color: red;
}
.princepetro{
 color: blueviolet;
}
.princepaul{
color: brown;
}
.countr{
color: burlywood;
}
.czare{
color: cadetblue;
}
.baronraff{
color: chocolate;
}